*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #181e25;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height:50px;
    width:100px;

}

.logo{
    background-image: url("amazon_.png");
    background-size: cover;
    height:50px;
    width:100px;
}

.border{
    border:2px solid trasparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** box2 **/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 3px;
}
.add-icon{
    display: flex;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffa41c;
    width: 620px;
    height:40px;
    border-radius: 8px;
   
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
     border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #0f1111;
}
.nav-search:hover{
    border:3px solid #ffa41c;
}

.language{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 3px;
    display: flex;
}

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 100%;
    font-size: 0.9rem;
}

.panel-all{
    display: flex;
    margin-left: 10px;
}

/**Hero section**/
.hero-section{
    background-image: url("box1..jpg");
    background-size: cover;
    height: 250px; 
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(208, 193, 124, 0.18) ;
    justify-content: space-evenly;

}

.box{
    height: 400px;
    width:327px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;

}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.box-content{
    margin-left:10px;
    margin-right:10px;
}

.box-content p{
    color:#007185;
}



footer{
    margin-top:10px;

}

.foot-panel1{
  background-color:#37475a;
  color: white;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
   
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(236, 233, 233);
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.foot-panel4{
    background-color:#181e25;
    color: white;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pages{
    font-size: 0.7rem;
    padding-top: 25px ;
}

.copyright{
    font-size:0.80rem ; 
    padding-top: 5px;
}